<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>List Office</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/header.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/home.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/footer.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/hero.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/detail.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/require.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/styles/client/content-office.css}" />
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
</head>

<body>
	<div class="headerr">
		<div th:replace="fragments/client :: header">

		</div>
	</div>

	<div th:replace="fragments/client :: bannerOffice">

	</div>


	<div layout:fragment="content" class="content">

	</div>



	<div th:replace="fragments/client :: footer">


	</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>