.content {
	margin-top: 68px;
	margin-bottom: 100px;
	padding: 24px 50px;
}

.content table {
	text-align: center;
}

.content .filter {
	margin: 24px 0;
	justify-content: center;
}


.content .add {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.add .inputGroup {
	width: 16%;
}

.add .select {
	margin: 16px 0;
	padding: 0.8em;
	width: 16%;
	border-radius: 20px;
	border: 2px solid rgb(200, 200, 200);
}


.inputGroup {
	font-family: 'Segoe UI', sans-serif;
	margin: 1em 0 1em 0;
	/*max-width: 190px;*/
	position: relative;
}

.inputGroup input {
	font-size: 100%;
	padding: 0.8em;
	outline: none;
	border: 2px solid rgb(200, 200, 200);
	background-color: transparent;
	border-radius: 20px;
	width: 100%;
}

.inputGroup label {
	font-size: 100%;
	position: absolute;
	left: 0;
	padding: 0.8em;
	margin-left: 0.5em;
	pointer-events: none;
	transition: all 0.3s ease;
	color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
	transform: translateY(-50%) scale(.9);
	margin: 0em;
	margin-left: 1.3em;
	padding: 0.4em;
	background-color: #fff;
}

.inputGroup :is(input:focus, input:valid) {
	border-color: rgb(150, 150, 200);
}