* {
	box-sizing: border-box;
	margin: 0px;
}

.header {
	padding: 0px 100px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: #E3E6F3;
}

#menu {
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 550;
	display: flex;
	justify-content: space-between;
}

#menu ul {
	display: flex;
	justify-content: left;
	margin-bottom: 0;
}



#menu ul li {
	padding: 25px 25px;
	list-style: none;

}

#menu a:hover {
	color: #088178;
}

#menu a {
	text-decoration: none;
	color: black;
}

#menu img {
	width: 150px;
	margin-right: 25px;
}