.partner .partner-title{
	font-weight: 500;
	padding-bottom: 20px;
	margin-bottom: 35px;
	position: relative;
	text-align: center;
}

.partner .partner-title::before{
	content: "";
	height: 2px;
	width: 180px;
	position: absolute;
	bottom: 0;
	display: block;
	background: #f7a306;
	color: #2d314c;
	left: 50%;
	transform: translateX(-50%);
}
.partner .partner-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.partner .partner-list .partner-item{
	width: 17%;
	border: 2px solid #ccc;
	border-radius: 10px;
}